.stock{
    padding: 0.6rem;
    display: grid;
    grid-template-areas: 
        "products chart table planner"
        "warehouse parameters parameters planner";
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 60% 40%;
    gap: 0.6rem;
    .column{
        &--products{
            grid-area: products;
        }
        &--table{
            grid-area: table;
        }
        &--warehouse{
            grid-area: warehouse;
        }
        &--chart{
            grid-area: chart;
        }
        &--parameters{
            grid-area: parameters;
        }
        &--planner{
            grid-area: planner;
        }
    }
    .column__header{
        position: sticky;
        top: 0;
        left: 0;
        background-color: #fff;
    }
    .parameters-content{
        .form-group{
            display: none;
        }
    }
}
.stock-chart{
    min-height: 100%;
}