.container_stock__wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 80vh;
    font-family: Arial, sans-serif;
}

.container_stock {
    display: flex;
    width: 100%;
}

.left-panel {
    width: calc(100% / 7);
    display: flex;
    flex-direction: column;
}

.column {
    border: 1.5px solid $border-color;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.column::before {
    content: attr(data-title);
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
    color: #333;
}

.product_tree{
    flex: 2;
    background-color:$backgroundColorBlockStock;
}

.warehouse {
    flex: 1;
    background-color: $backgroundColorBlockStock;
}

.middle {
    flex: 3;
    display: flex;
}

.central {
    flex: 2; /* Занимает 2/3 ширины центральной части */
    display: flex;
    flex-direction: column; /* Выровнять элементы по вертикали */
    padding: 0px;
    border: 1.5px solid  $border-color;
}

.central2 {
    flex: 0.7; /* Занимает 70% высоты от контейнера "Центральный" */
    display: flex; /* Позволяет размещать элементы в строку */
    padding: 0px;
    border: none;
}

.graph {
    flex: 1; /* Занимает оставшуюся часть */
    background-color:$backgroundColorBlockStock;
}

.right-column {
    flex: 1; /* Занимает оставшуюся часть справа */
    display: flex;
    flex-direction: column; /* Выровнять элементы по вертикали */
}

.parameters {
    flex: 0; /* Установим на ноль, чтобы не занимать место */
    margin-top: auto; /* Сдвинем вниз */
    background-color:$backgroundColorBlockStock;
    flex: 0.3;
    //border: none;
}

.right-panel {
    width: calc(100% / 7);
    display: flex;
    flex-direction: column;
}

.state {
    flex: 1; /* Каждому блоку выделяется равное пространство */
    background-color: $backgroundColorBlockStock;
}

.simulation {
    flex: 1; /* Каждому блоку выделяется равное пространство */
    background-color: $backgroundColorBlockStock;
}

.planner {
    flex: 1;
    background-color:$backgroundColorBlockStock;
    height: 100%; 
}

[data-title] {
    font-size: 14px; 
    //font-weight: bold;
}

//стили кнопки в template
.buttonParametsStock{
    margin-left: 30%;
    height: 30px;
    width: 100px;
}

.parameters-content{
    max-height: 150px;
    overflow: scroll;
}
.parameter-item{
    & + &{
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid $border-color;
    }
}


.products-content,
.warehouse-content{
    padding-top: 30px;
    overflow: scroll;
}
.products-content{
    max-height: 255px;
}
.warehouse-content{
    max-height: 300px;
}