
.container_orderCalculation__wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 80vh;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.parameters_orderCalculation {
    display: flex;
    flex-direction: column;
    width: 99.2%;
    background-color: $backgroundColorBlockStock;
    transition: height 0.3s ease;
    overflow: hidden; 
}

.accordion {
    width: 100%;
}

.accordion-button {
    background-color: $backgroundColorBlockStock;
    border: none;
    font-weight: bold;
}

.accordion-body {
    padding: 10px;
}

.checkbox-item {
    margin-bottom: 10px;
}

.checkbox-item label {
    margin-left: 5px;
}

.container_orderCalculation {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.left-panel_orderCalculation {
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product_tree_orderCalculation {
    flex: 2;
    background-color: $backgroundColorBlockStock;
}

.warehouse_orderCalculation {
    flex: 1;
    background-color: $backgroundColorBlockStock;
}

.middle_orderCalculation {
    width: 60%;
    display: flex;
}

.central_orderCalculation {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 1.5px solid $border-color;
    flex-grow: 1;
}

.graph_orderCalculation {
    flex: 2;
    background-color: $backgroundColorBlockStock;
}

.right-panel_orderCalculation {
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.order_status_orderCalculation {
    flex: 1;
    background-color: $backgroundColorBlockStock;
}

.column_orderCalculation {
    border: 1.5px solid $border-color;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.column_orderCalculation::before {
    content: attr(data-title);
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
    color: #333;
}

[data-title] {
    font-size: 14px;
}