 /* Модальное окно */
 .modal {
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fff;
    margin: 5% auto 5%; 
    padding: 20px; 
    border: 1px solid #888; 
    width: 95%; 
    max-width: 500px; 
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    // display: block;
    width: fit-content;
    margin-left: auto;
    padding: 0 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}