@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");
@import "./vars.scss";
@import "./template.scss";

@import "./blocks/aside.scss";
@import "./blocks/content.scss";
@import "./blocks/table.scss";
@import "./blocks/button.scss";
@import "./blocks/form.scss";
@import "./blocks/modal.scss";
@import "./blocks/column.scss";
@import "./blocks/products.scss";
@import "./blocks/loading.scss";

@import "./modules/stock.scss";
@import "./modules/orderCalculation.scss";
@import "./modules/promo.scss";

// @import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");

/*


//автоЗАКАЗ

// @import "bootstrap/scss/bootstrap";
@import "./vars.scss";
@import "./template.scss";

@import "./blocks/tabs.scss";
@import "./blocks/header/header.scss";
@import "./blocks/header/burger.scss";
@import "./blocks/form.scss";
@import "./modules/stock/stock.scss";
@import "./modules/stock/modalStock.scss";
@import "./blocks/orderCalculation.scss";

// @import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");

@font-face {
    font-family: 'PFBulletinSansPro-Regular';
    src: url('./public/fonts/PFBulletinSansPro-Regular.woff2') format('woff2'),
         url('./public/fonts/PFBulletinSansPro-Regular.woff') format('woff'),
         url('./public/fonts/PFBulletinSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    //font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.22857143;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // height: 100%;
    // margin: 0;
    // display: flex;
    // justify-content: center; /* Центрирование по горизонтали *
    // align-items: center; /* Центрирование по вертикали *
    background-color: #f0f0f0;
}

.container-outer{
    max-width: 100vw;
    margin: 0px auto;
    //height: 100vh;
    .container-inner {
        padding: 2px 2px;
        //background-color: $backgroundColorcontainer-inner;
        border-radius: 10px; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        // .content_main{
        //     margin: 1% 2%;
        //     border: 1px red solid;
        //     height: 20vh;
        // }
     }
}


#mainContent{
    //width: calc(100vw - 300px);
    //margin-left: 270px;
    //height: 100vh;
    background-color: $backgroundColorMain;
    //padding-left: 30px;
}
.mylink{
    height: 30px;
    width: 40px;
    color: red;
}

*/